{% extends 'base.html.twig' %}

{% block title %}Projet !{% endblock %}

{% block body %}
    {# si l'utilisateur est connecté on affiche la page des projets #}
    {% if app.user %}
    
        <section id="entete" class="container-fluid mt-3 mb-5">
            <h2 class="h1 text-center text-uppercase col-md-4 text-white">Page des projets</h2>
            
            {# affichage du message au chagement d'état d'un tâche #}
            <div role="alert" aria-label="alerte" class="alert" id="Etatmessage"></div>
        </section>

        <div class="container-fluid" id="projet_display">
            {% for prio in prioriteListe %}
            
                <div id="projetParent{{ prio.id }}" class="projetParent shadow">
                    <div class="border-bottom border-2 py-2 w-auto divTitle" id="prioTitle{{ prio.id }}">
                        
                        {# affichage des priorités #}
                        <h3 id="prioTitle" class="text-light text-center fs-2">{{prio.libelle|upper}}</h3>

                        {# flèche pour rabattre les projets dans les différentes prioritées #}
                        {# <div id="arrowPrio{{ prio.id }}" class="text-center arrow"><i class="fa fa-regular fa-circle-up fa-xl text-white"></i></div> #}
                        <div id="display_arrow">
                            <span id="arrow_prio"></span>
                            <span id="arrow_prio"></span>
                        </div>
                    </div>

                    <section class="active bg-white py-3 px-2 w-auto projetContainer" id="projetContainer_{{ prio.id }}" ondrop="drop(event)" ondragover="allowDrop(event)">

                        {% for projet in projetListe %}

                            {# test pour mettre les projet dans chaques colonnes lié à leur priorités#}
                            {% if (projet.priorite is same as prio) %}
                                <div class="shadow-lg my-md-4 mb-4 container bg-white projet" id="projet{{projet.id}}" ondragstart="drag(event)">

                                    <div class="pt-3">
                                        {# Titre du projet #}
                                        <h4 class="col-6 pe-1">{{projet|upper}}</h4>
                                        
                                        <div id="display_arrow">
                                            <span></span>
                                            <span></span>
                                        </div>

                                        {# flèche pour rabbatre un projet #}
                                        {# <div class="col-2 arrowProjet"><i class="fa-regular fa-circle-up fa-xl"></i></div> #}
                                    </div>

                                    <div id="infoProjet">
                                        {# Affichage de l'administrateur qui à créé le projet #}
                                        <p class="text-center">Administrateur : {{projet.utilisateur}}</p>
                                        

                                        {% for tache in tacheListe %}

                                            {# Si la tache est celle du projet en cours alors on l'affiche #}
                                            {% if (tache.projet is same as projet)%}
                                                <div class="cont col-12">
                                                    <div class="shadow card" id="tache{{ tache.id }}">
                                                        <div class="card-header bg-black bg-gradient bg-opacity-50">
                                                            
                                                            {# Nom de la tâche #}
                                                            <h5 class="text-light col-4">{{ tache|capitalize }}</h5>

                                                            {# select de l'état de la tâche #}
                                                            <div class="form-floating col-6">
                                                                <select class="form-select floatingSelect p-0 tache" tache="{{ tache.id }}">
                                                                    {% for etat in etatListe %}

                                                                        {# Test pour afficher l'etat sélectionné par l'utilisateur #}
                                                                        {% if (tache.etat is same as(etat)) %}
                                                                            <option value="{{ etat.id }}" selected>{{ etat }}</option>
                                                                        {% else %}
                                                                            <option value="{{ etat.id }}">{{ etat }}</option>
                                                                        {% endif %}

                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="card-body">
                                                            <h6 class="card-title"><strong>Attribué à : </strong>{{ tache.utilisateur }}</h6>
                                                            <p class="card-text"><strong>Description : </strong>{{ tache.description }}</p>
                                                        </div>
                                                    </div>
                                                    <img id="tache_img" src="https://i.cloudup.com/2ZAX3hVsBE-3000x3000.png" height="62" width="62">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                            {% endif %}
                        {% endfor %}
                    </section>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


