{% extends 'base.html.twig' %}

{% block title %}Projet !{% endblock %}

{% block body %}

<div class="container-fluid mt-3 d-flex justify-content-between">
    <h1>Page des projets</h1>
    <div class="align-self-center">
        <a class="btn btn-primary text-decoration-none text-light" href="/admin">Ajouter un projet</a>
        <a class="btn btn-primary text-decoration-none text-light" href="/admin">Ajouter une tâche</a>
    </div>
</div>
<div class="mt-4 d-flex justify-content-between">
    {% for prio in prioriteListe %}
    
        <div id="{{ prio.id }}" class="col-4 border border-dark rounded row justify-content-center">
            <h3 class="text-center">{{prio.libelle}}</h3>
            {% for projet in projetListe %}

            {# test pour mettre les projet dans chaques colonnes #}
            {% if (projet.priorite is same as prio) %}
            <div class="border border-info border-3 rounded my-3">

                <div class="row mt-2">
                    <h4 class="col-5">{{projet|capitalize}}</h4>
                    <p class="col-7 px-0">Administrateur : {{projet.utilisateur}}</p>
                </div>

                {% for tache in tacheListe %}
                {% if (tache.projet is same as projet)%}
                <div class="card d-flex justify-content-center mb-3">
                    <div class="d-flex justify-content-between align-items-center card-header bg-black bg-gradient bg-opacity-50">
                        <h5 class="text-light">{{ tache|capitalize }}</h5>

                        {# select de l'état de la tâche #}
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" tache="{{ tache.id }}">
                                {% for etat in etatListe %}
                                {% if (tache.etat is same as(etat)) %}
                                    <option value="{{ etat.id }}" selected>{{ etat }}</option>
                                {% else %}
                                    <option value="{{ etat.id }}">{{ etat }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title"><strong>Attribué à : </strong>{{ tache.utilisateur }}</h6>
                        <p class="card-text"><strong>Description : </strong>{{ tache.description }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}


